body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Kaushan Script', cursive;
}

html {
    scroll-behavior: smooth;
}

.box {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.pinSection {
    height: 100%;
    width: 100%;
}

.image {
    top: -50%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    height: 750px;
    width: 500px;
}

h1 {
    top: -50%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    font-size: 60px;
    text-align: center;
}

@media screen and (max-width: 1920px) {
    h1 {
        font-size: 50px;
        width: 40vw;
        left: 75%;
    }
}

@media screen and (max-width: 1750px) {
    .image {
        left: 30%;
        height: 600px;
        width: 400px;
    }

    h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 900px) {
    .image {
        height: 450px;
        width: 300px;
    }
}

@media screen and (max-width: 900px) and (max-height: 500px) {
    .image {
        height: 350px;
        width: 230px;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .image {
        width: 100vw;
        height: 100vh;
        left: 50%;
    }

    h1 {
        /* display: none; */
        top: -5% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        text-align: center;
        width: 100vw;
        opacity: 0.5;
        color: #fff !important;
    }
}

@media screen and (max-width: 650px) and (max-height: 400px) {
    .image {
        height: 250px;
        width: 165px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        top: -10% !important;
        font-size: 22px;
    }
}

.end {
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 40px;
    text-align: center;
}

.end a {
    color: #fff;
    opacity: 0.5;
}

.end a:hover {
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .end {
        top: -10%;
    }

    .end a {
        opacity: 0.8;
    }
}

@media screen and (max-width: 650px) and (max-height: 400px) {
    .end {
        font-size: 30px;
        top: -8%;
    }
}

@media screen and (max-width: 350px) {
    .end {
        top: -15%;
    }
}

.scrollmagic-pin-spacer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.event1 {
    background-color: #000;
}

.event1 .image {
    top: 50%;
    background-image: url("ressources/lion.jpg");
}

.event1 h1 {
    top: 50%;
}

@media screen and (max-width: 500px) {
    .event1 h1 {
        top: 95% !important;
    }
}

@media screen and (max-width: 350px) {
    .event1 h1 {
        top: 90% !important;
    }
}

.event2 {
    background-color: #ae8958;
}

.event2 .image {
    background-image: url("ressources/fox.jpg");
}

.event2 h1 {
    color: #000;
}

.event3 {
    background-color: #4a647b;
}

.event3 .image {
    background-image: url("ressources/racoon.jpg");
}

.event3 h1 {
    color: #fff;
}

.event4 {
    background-color: #c5b1aa;
}

.event4 .image {
    background-image: url("ressources/deer.jpg");
}

.event4 h1 {
    color: #000;
}

.event5 {
    background-color: #001018;
}

.event5 .image {
    background-image: url("ressources/wolf.jpg");
}

.event5 h1 {
    color: #fff;
}

.event6 {
    background-color: #e2e3dd;
}

.event6 .image {
    background-image: url("ressources/tiger.jpg");
}

.event6 h1 {
    color: #000;
}

.event7 {
    background-color: #9d9479;
}

.event7 .image {
    background-image: url("ressources/bear.jpg");
}

.event7 h1 {
    color: #fff;
}

.event8 {
    background-color: #f6e8dd;
}

.event8 .image {
    background-image: url("ressources/leopard.jpg");
}

.event8 h1 {
    color: #000;
}

.event9 {
    background-color: #564c3c;
}

.event9 .image {
    background-image: url("ressources/elephant.jpg");
}

.event9 h1 {
    color: #fff;
}

.event10 {
    background-color: #fdf1e1;
}

.event10 .image {
    background-image: url("ressources/panda.jpg");
}

.event10 h1 {
    color: #000;
}

.event11 {
    background-color: #1d2225;
}

.event11 .image {
    background-image: url("ressources/jaguar.jpg");
}

.event11 h1 {
    color: #fff;
}

.event12 {
    background-color: #a8a095;
}

.event12 .image {
    background-image: url("ressources/gorilla.jpg");
}

.event12 h1 {
    color: #000;
}

.event13 {
    background-color: #714a3b;
}

.event13 .image {
    background-image: url("ressources/red-panda.jpg");
}

.event13 h1 {
    color: #fff;
}

.event14 {
    background-color: #f2f1ef;
}

.event14 .image {
    background-image: url("ressources/horse.jpg");
}

.event14 h1 {
    color: #000;
}

.event15 {
    background-color: #828e8c;
}

.event15 .image {
    background-image: url("ressources/koala.jpg");
}

.event15 h1 {
    color: #fff;
}